<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400" rel="stylesheet">
    </head>
    <body style="background-color: #380FB3;">

        <div>

            <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td valign="top" align="center" bgcolor="#f3f5f7" style="background:#380FB3">
                    <table cellpadding="0" width="100%" cellspacing="0" border="0" align="center" 
                        style="margin:0 auto;table-layout:fixed;border-collapse:collapse!important;max-width:600px;margin-bottom:40px;">
                        <tbody>

                        <tr>
                            <td align="center" valign="top" width="100%">

                            

                            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#F78874" 
                            style="background: #fff; border-radius: 10px;">

                                <tbody>
                                    <tr>
                                        <td height="40px"></td>
                                    </tr>

                                    <tr style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',
                                                sans-serif;color:#380FB3; font-size:14px;line-height:20px;margin-top:20px">

                                        <td colspan="2" valign="top" align="center" style=" padding-left:40px;padding-right:40px">

                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                            <tbody>                                                

                                                <tr><td height="20"></td></tr>

                                                <tr>
                                                    <td align="center">
                                                    <span style="color: #000; font-size: 26px; font-weight: 500; font-family: 'Fira Sans',sans-serif;">
                                                        Redefine your password
                                                    </span>
                                                    </td>
                                                </tr>

                                                <tr><td height="24"></td></tr>

                                                <tr>
                                                    <td height="1px" bgcolor="#380FB3"></td>
                                                </tr>

                                                <tr><td height="24"></td></tr>

                                                <tr>
                                                    <td align="center">
                                                    <span style="color: #000; font-size: 17px;">
                                                        <div style="width: 310px; margin: 10px 0;">
                                                            Reset your password by clicking the button below.
                                                        </div>
                                                    </span>
                                                    </td>
                                                </tr>
                                                
                                                <tr><td height="20"></td></tr>

                                                <tr>
                                                    <td valign="top" width="48%" align="center">
                                                    <span>
                                                        <a href="{0}" 
                                                        style="display:block;padding:15px 25px;background-color:#380FB3;color:white; font-weight: 600; border-radius:3px;text-decoration:none" 
                                                        target="_blank">
                                                        Redefine your password</a>
                                                    </span>
                                                    </td>
                                                </tr>

                                                <tr><td height="20"></td></tr>
                                                
                                                <tr>
                                                    <td align="center">
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="40px"></td>
                                    </tr>
                                </tbody>
                            </table>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </body>
</html>
